#profile {
  background-color: #FFDDAA;
}

#artists {
  background-color: #FFB448;
  border-radius: 1em 0em 0em 1em;
}

#singleArtist {
  background-color: #FDFDD2;
}

#gigs {
  background-color: #FFB448;
  border-radius: 0em 1em 1em 0em;
}

#test {
  width: 55%;
  display: flex;
  justify-content: space-between;
  .button {
    background-color: #FFB448;
    border-radius: 1.5em;
    border: 4px solid white;
    color: white;
    font-weight: bold;
  }
  .button:hover {
    background-color: white;
    border: 4px solid #FFB448;
    color: #FFB448;
  }
}