// @import url('https://fonts.googleapis.com/css?family=Gugi&display=swap');

// @import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');
// @charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$light-grey: rgba(242, 242, 242, 0.3);
$node-brown: rgba(239, 192, 80, 0.3);
$node-red: rgba(221, 65, 36, 0.3);
$node-green: rgba(68, 184, 172, 0.3);
$off-white: #f9f9f9;
$rhap_theme-color: #868686 !default;
$rhap_background-color: #fff !default;
$rhap_bar-color: #e4e4e4 !default;
$rhap_time-color: #333 !default;

// Update Bulma's global variables


// Update some of Bulma's component variables
$input-placeholder-color: $light-grey;
$title-color: $off-white;
$label-color: $off-white;
// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";



html, body {
  height: 100%;
  background-image: url("https://wallpapercave.com/wp/wp2732962.jpg") ;
  // background: #585858;
  font-weight: bold;
  // font-family: 'Gugi', cursive;
  // font-family: 'Rock Salt', cursive;
  font-family: 'Cabin Sketch', cursive;
  text-shadow: 1px 1px #303030;
  box-shadow: 5px 10px;
}

.navbar-color {
  background-image: url("https://wallpapercave.com/wp/wp2732962.jpg") ;
  // background: #585858;
  border-bottom-width: 3px;
  border-bottom-style: double;
  border-bottom-color: rgba(211, 211, 211, 0.5);
}

.logo {
  color: rgba(211, 211, 211, 1)
}


#root {
    height: 100%;
    #profile {
      height: 100%;
      max-height: 100%; 
      .container {
        height: 100%;
        .columns {
          height: 100%;
          margin-bottom: 20px;
          #artists {
            .artist {
              color: white;
              cursor: pointer;
              transition: all .2s ease-in-out;
              -webkit-animation: fadein 1s;
              -moz-animation: fadein 1s;
              -ms-animation: fadein 1s;
              -o-animation: fadein 1s;
              animation: fadein 1s;
            }
            .artist:hover {
              border-right: 10px solid white;
            }
          }
          #singleArtist {
            border-radius: 1em 1em 0em 0em;
            height: 100%;
            background-color: rgba(253, 253, 210, 0.6);
            display: flex;
            flex-direction: column;
            color: white;
            #head {
              display: flex;
              position: relative;
              justify-content: center;
              .title {
                color:white;
              }
              figure {
                position: absolute;
                right: 0;
                top: 5%;
                cursor: pointer;
                transition: all .2s ease-in-out;
                -webkit-animation: fadein 1s;
                -moz-animation: fadein 1s;
                -ms-animation: fadein 1s;
                -o-animation: fadein 1s;
                animation: fadein 1s;
              }
            }

            #topTrack {
              font-size: x-large;
              text-align: center;
              padding-top: 20px;
              padding-bottom: 5px;
            }

            #tracks-div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              transition: all .2s ease-in-out;
                -webkit-animation: fadein 1s;
                -moz-animation: fadein 1s;
                -ms-animation: fadein 1s;
                -o-animation: fadein 1s;
                animation: fadein 1s;
            }
            
            .noArtistText {
              margin: auto;
              transition: all .2s ease-in-out;
              -webkit-animation: fadein 1s;
              -moz-animation: fadein 1s;
              -ms-animation: fadein 1s;
              -o-animation: fadein 1s;
              animation: fadein 1s;
            }
            #image-wrapper {
              margin: 0 auto;
              display: flex;
              opacity: 1;
              // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
              // border-style: double;
              border-color:#606060;
              justify-content: center;
              transition: all .2s ease-in-out;
              -webkit-animation: fadein 1s;
              -moz-animation: fadein 1s;
              -ms-animation: fadein 1s;
              -o-animation: fadein 1s;
              animation: fadein 1s;
            }
          }
          #gigs {
            display: flex;
            flex-direction: column;
            .subtitle {
              margin: auto;
              color: white
            }
            .Collapsible {
              text-align: center;
              color: white;
              margin-top: 5px;
              font-size: x-large;
              font-weight: bold;
              cursor: pointer;
              div {
                p {
                  font-size: medium;
                  font-weight: 300;
                }
              }
              transition: all .2s ease-in-out;
              -webkit-animation: fadein 1s;
              -moz-animation: fadein 1s;
              -ms-animation: fadein 1s;
                -o-animation: fadein 1s;
                  animation: fadein 1s;
            }
            .title {
              margin-bottom: 10px;
            }
            .button {
              background-color: rgba(0,0,0,0);
              border-radius: 1.5em;
              border: 4px solid white;
              color: white;
              font-weight: bold;
            }
            .button:hover {
              background-color: white;
              border: 4px solid white;
              color: #303030;
            }
          }
        }
      }      
    }
  }


.second-node {

  // border-width: 3px;
  // border-style: dashed;
  // border-color: lightgray;
  height: 130px;
  width: 130px;
  margin: 0px;
  padding: 55px 0;
  font-size: 15px;
  // background: rgba(255,255,0, 0.3);
  background: rgba(253,253, 210, 0.5);
  border-radius: 35%;
  opacity: 0.6;
  transition: 0.4s;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.3)
}

.second-node:hover {
  // opacity: 0.8;
  height: 140px;
  width: 140px;
  padding: 60px 0;
  // font-size: 18px;
  background: rgba(153, 153, 101, 0.7);
  cursor: pointer;
}

.main-node {

  // border-width: 4px;
  // border-style: dashed;
  // border-color: lightgray;
  height: 350px;
  width: 350px;
  font-size: 30px;
  // background: rgba(68, 184, 172, 0.3);
  background: rgba(253,253, 210, 0.6);
  border-radius: 35%;
  transition: 0.3s;
  opacity: 0.9;
  transition: 0.5s;
  // color: 		#DCDCDC;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.3)
}

.main-node:hover {
  opacity: 1;
  cursor: pointer;

}

.third-node {

  // border-width: 3px;
  // border-style: dashed;
  // border-color: lightgray;
  height: 200px;
  width: 200px;
  margin: 0px;
  text-align: center;
  padding: 85px 0;
  font-size: 23px;
  // background: rgba(221, 65, 36, 0.3);
  background: rgba(253,253, 210, 0.5);
  border-radius: 35%;
  transition: 0.15s;
  opacity: 0.6;
  color: white;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.3)
}

.third-node:hover {
  opacity: 0.8;
  width: 220px;
  height: 220px;
  padding: 95px 0;
  background: rgba(153, 153, 101, 0.7);
  cursor: pointer;

}

.container-div {

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 780px;
  justify-content: space-around;
  align-items: center;
  
  background-image: url("https://wallpapercave.com/wp/wp2732962.jpg");
  // background: #585858;
  color: lightgray
}

.second-node-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  text-align: center;
  margin-right: 50px;
  // align-items: center;
}

.audio-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
}

.main-node-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  // margin-right: 70px;
}

.artist-pic {
  border-radius: 35%;
  border-width: 1px;
  height: 130px;
  width: 130px;
  border-style: double;
  border-color:#606060;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.3)
}



#modal-full {
  transition: all .2s ease-in-out;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
   -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
       animation: fadein 1s;
}

#modal-head {
  background-color: #303030;
  border: 3px solid white;
}

.modal-card-body {
  p {
    font-weight: lighter;
  }
  .subtitle {
    margin-bottom: 2px;
    font-weight: bold;
  }
}

#search-section{
  padding-left: 175px;
  padding-right: 175px;
  padding-top: 100px;
}

#searchbar{
  border-width: 1px;
  border-style: dashed;
  border-color: lightgray;
  background: $node-brown;
  border-radius: 0.5em;
  color: white;
}

.suggestions{
  color: white;
}
.suggestions:hover{
  opacity: 1;
  background: $light-grey;
}

.suggestions-container{
  background: $node-red;
  border-radius: 0.5em;
  border-color: lightgray;
  border-style: dashed;
  border-width: 1px;
  height: 32vh;
}

.placeholder{
  height: 32vh;
}

#recentsearches{
  text-align: center;
  width: 40%;
  margin-top: 15vh;
  font-size: 1.1em;
   h1{
    color: $off-white;
    font-weight: 550;
  }
  .recentsearchescontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    div{
      width: 33%;      
      a{
        color: $light-grey;
        font-weight: 475;
      }
      a:hover{
        color: $off-white;
      }
    }
  }
}

  .arrow-1 {
    position: absolute;
    width: 10%;
    height: 20%;
    right: 340px;
  }

  .arrow-2 {
    position: absolute;
    width: 10%;
    height: 20%;
    left: 360px;
    transform: scaleX(-1)
  }

  @keyframes fadeIn {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
 }
 
 .fade-in {
   opacity: 0;
   animation: fadeIn ease-in 1;
   animation-fill-mode: forwards;
   animation-duration: 1.5s;
 }
 
 .down-arrow {
  position: absolute;
  width: 2.5%;
  height: 2.5%;
  top: 770px;
  right: 216px;
  transition: 0.3s;
  opacity: 0.4;
  
 }

 .down-arrow:hover {
  // position: absolute;
  width: 2.8%;
  height: 2.8%;
  // top: 770px;
  right: 214px;
  opacity: 0.9;
  cursor: pointer;
 }

 .down-arrow2 {
  position: absolute;
  width: 2.5%;
  height: 2.5%;
  top: 110px;
  right: 216px;
  transition: 0.3s;
  opacity: 0.4;
  transform: scaleY(-1);
  
 }

 .down-arrow2:hover {
  // position: absolute;
  width: 2.8%;
  height: 2.8%;
  // top: 770px;
  right: 214px;
  opacity: 0.9;
  cursor: pointer;
 }
 
 .plus-sign {
  position: absolute;
  opacity: 0.65;
  width: 3.5%;
  height: 6%;
  bottom: 110px;
  left: 704px;
  transition: 0.3s;
 }

 .plus-sign:hover {
  opacity: 0.8;
  width: 4.66%;
  height: 8%;
  left: 697px;
  bottom: 105px;
  cursor: pointer;
 }
#login{
  color: $off-white;
}

.border {
  height: 100px;
  width: 200px;
  background: linear-gradient(90deg, white 50%, transparent 50%), linear-gradient(90deg,white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%), linear-gradient(0deg, white 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
  padding: 10px;
  animation: border-dance 4s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}

.aflow {
  color: rgb(253,253, 210);
  font-size: 80px;
  position: absolute;
  top: 120px;
  left: 130px;
  opacity: 0.15;
  text-shadow: 1px 1px #303030;
}

.lds-ripple {
  margin: 0 auto;
  // display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loading-container {
  
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.Toastify__toast-body { 
  font-family: 'Cabin Sketch', cursive; 
}